$primary-color: #808080;
$white-color: #fff;
$black-color: #000;
$pink-color: #c69;
$green-color: #28a05e;
$gray-color: #eee;
$blue-color: #0E4E96;
$error: #CC0033;
$success: #009933;
$info: #3399FF;
$silver-color: #C0C0C0;
$MediumSeaGreen-color: #3CB371;
$YellowGreen-color: #9ACD32;
$Coral-color: #FF7F50;
$Cornsilk-color: #FFF8DC;
$BlueViolet-color: #8A2BE2;
$DarkSalmon-color: #E9967A;